<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender const</th>
      <th>Birth date</th>
      <th>Assistance priority const</th>
      <th>Enrollment status const</th>
      <th>Education level const</th>
      <th>Work status const</th>
      <th>Person type const</th>
      <th>Monthly income</th>
      <th>Occupation</th>
      <th>Place of birth city</th>
      <th>Place of birth state</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.gender_const %></td>
        <td><%= person.birth_date %></td>
        <td><%= person.assistance_priority_const %></td>
        <td><%= person.enrollment_status_const %></td>
        <td><%= person.education_level_const %></td>
        <td><%= person.work_status_const %></td>
        <td><%= person.person_type_const %></td>
        <td><%= person.monthly_income %></td>
        <td><%= person.occupation %></td>
        <td><%= person.place_of_birth_city %></td>
        <td><%= person.place_of_birth_state %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
